<div class="articles-cards">
  <div class="articles-card" *ngIf="article" >
    <div class="button articles-card-button">{{ article.category }}</div>
    <img class="articles-card-img"
         [src]="'assets/images/articles/' + article.image"
         [alt]="article.title">
    <div class="articles-card-bottom">
      <div class="articles-card-title">{{ article.title | truncate:100:true}}</div>
      <div class="articles-card-text">{{ article.description | truncate:180:true}}</div>
      <a class="articles-card-active" [routerLink]="['/article', article.url]">
        Читать дальше...
      </a>
    </div>
  </div>
</div>
