@import "../../../../assets/styles/variables";

footer.footer {
  padding: 40px 0 54px;
  background-color: #B9D5FD;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;

  .container {

    .footer-top {
      display: flex;
      align-items: center;
      .footer-menu {
        margin-left: 40px;

        nav ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            margin-right: 20px;
            list-style: none;

            a {
              color: $blue-text-color;
              cursor: pointer;
              text-decoration: none;
              &.active {
                color: $aqua-text-color;
              }
              &:hover {
                color: $aqua-text-color;
              }

            }
          }
        }
      }
    }

    .footer-bottom {
      display: flex;
      padding: 40px 0 6px;

      .footer-bottom-info {
        margin-right: 60px;

        &:first-child {
          width: 253px;

          .footer-bottom-info-text{
            margin: 15px 0;
          }
        }

        &:last-child {
          .footer-bottom-info-text svg {
            margin: 5px 12px 0 0;
            cursor: pointer;
          }
        }

        .footer-bottom-info-title {
          color: $aqua-text-color;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          margin: 10px 0;
        }

        .footer-bottom-info-text {
          color: $blue-text-color;

          &.text-email {
            font-size: 14px;
          }
          & a {
            text-decoration: none;
            color: $blue-text-color;
            cursor: pointer;
            &:hover {
              color: $aqua-text-color;
            }
            & svg:hover path {
              fill: $aqua-text-color;
            }
          }

        }

        .footer-button {
          padding: 10px 20px;
          align-items: center;
          border-radius: 5px;
          background: $aqua-button-color;
          color: #FFF;
          font-family: 'Montserrat', sans-serif;
          font-size: 12px;
          font-weight: 500;
          box-sizing: border-box;
          border: 0;
          margin-top: 10px;
          cursor: pointer;
        }
      }
    }

    .footer-protected {
      color: $aqua-text-color;
    }

  }
}
