<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Войти в личный кабинет
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input"
                 [ngStyle]="{'border-color': email?.invalid && (email?.dirty || email?.touched) ? 'red' : ''}"
                 placeholder="Электронная почта" formControlName="email" autocomplete="username">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="field-error">
            <div *ngIf="email?.errors?.['required']">Email обязателен</div>
            <div *ngIf="email?.errors?.['email']">Введите корректный email</div>
          </div>
        </div>

        <div class="auth-input">
          <div class="password-wrapper" style="position:relative;">
            <input [type]="showPassword ? 'text' : 'password'" class="input"
                   [ngStyle]="{'border-color': password?.invalid && (password?.dirty || password?.touched) ? 'red' : ''}"
                   placeholder="Пароль" formControlName="password" autocomplete="current-password">
            <button type="button"
                    class="toggle-pass"
                    (click)="togglePasswordVisibility()"
                    style="position:absolute; right:8px; top:50%; transform:translateY(-50%); background:transparent; font-size: 1.5em; border:none; cursor:pointer;">
              {{ showPassword ? '👀' : '🔒' }}
            </button>
          </div>
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="field-error">
            <div *ngIf="password?.errors?.['required']">Пароль обязателен</div>
          </div>
        </div>

        <div class="auth-checkbox">
          <input type="checkbox" id="remember" formControlName="rememberMe">
          <label for="remember">Запомнить меня</label>
        </div>
      </div>

      <div class="auth-button">
        <button class="button" [disabled]="loginForm.invalid || submitting" (click)="login()">
          {{ submitting ? 'Входим...' : 'Войти' }}
        </button>
      </div>
      <div class="auth-link">
        Нет аккаунта? <a routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </div>

    <div class="page-image">
      <img src="/assets/images/page/login.png" alt="image-login">
    </div>
  </div>
</section>
