@import "../../../../assets/styles/modal";

.modal {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    select {
      box-sizing: border-box;
      width: 422px;
      margin-bottom: 5px;
      cursor: pointer;
      color: #709FDC;
      select option {
        color: #A8ABA7;
        background: #b5fdfd;
      }
    }

    .button-service-modal {
      width: 422px;
      margin-top: 15px;
      margin-bottom: 86px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}

