<div class="modal-backdrop" (click)="close()"></div>
<div class="modal">
  <ng-container *ngIf="!isSuccess">
    <h2>Заявка на услугу</h2>
    <form (ngSubmit)="submit()" #form="ngForm">

      <select [(ngModel)]="formData.service" class="input" name="service" required>
        <option value="" disabled selected>Выберите услугу</option>
        <option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </option>
      </select>
      <div *ngIf="form.submitted && !formData.service" class="error">Укажите услугу</div>

      <input type="text" class="input" [(ngModel)]="formData.name" name="name"
             placeholder="Ваше имя" required />
      <div *ngIf="form.submitted && !isNameValid()" class="error">
        Имя должно содержать только буквы и быть длиннее 1 символа
      </div>

      <input type="tel" class="input" [(ngModel)]="formData.phone" name="phone"
             placeholder="Ваш номер телефона" (input)="onPhoneInput($event)"
             required />
      <div *ngIf="form.submitted && !isPhoneValid()" class="error">
        Введите корректный номер телефона
      </div>

      <button type="submit" class="button button-service-modal" [disabled]="loading">
        {{ loading ? 'Отправка...' : 'Оставить заявку' }}
      </button>

      <div *ngIf="errorMessage" class="error global-error">
        {{ errorMessage }}
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="isSuccess">
    <h2 class="modal-thank-you-title">Спасибо за вашу заявку!</h2>
    <p class="modal-thank-you--text">Мы свяжемся с вами при первой же возможности.</p>
    <button class="button modal-thank-you-button" (click)="close()">Окей</button>
  </ng-container>
</div>
