@import "../../../../assets/styles/auth-form";

.signup .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 123px;
  margin-bottom: 120px;

  .auth-form {
    .auth-inputs {
      .auth-checkbox {
        display: flex;
        align-items: baseline;
      }
    }
  }

  .page-image {
    margin-right: 26px;
  }
}
