<div class="modal-backdrop" (click)="close()"></div>
<div class="modal">
  <ng-container *ngIf="!isSuccess">
    <h2>Закажите бесплатную
      консультацию!</h2>
    <form (ngSubmit)="submit()">
      <input type="text" class="input" [(ngModel)]="name" name="name" placeholder="Ваше имя" required />
      <div *ngIf="name && !isNameValid()" class="error">Имя должно содержать только буквы и быть длиннее 1 символа</div>

      <input type="tel" class="input"
             [(ngModel)]="phone"
             name="phone"
             placeholder="Ваш номер телефона"
             (input)="onPhoneInput($event)"
             required />
      <div *ngIf="phone && !isPhoneValid()" class="error">Введите корректный номер телефона</div>

      <button class="button button-footer-modal" type="submit" [disabled]="!isNameValid() || !isPhoneValid()">Заказать консультацию</button>
    </form>
  </ng-container>

  <ng-container *ngIf="isSuccess">
    <h2 class="modal-thank-you-title">Спасибо за вашу заявку!</h2>
    <p class="modal-thank-you--text">Мы свяжемся с вами при первой же возможности.</p>
    <button class="button modal-thank-you-button" (click)="close()">Окей</button>
  </ng-container>
</div>
